doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Artificial Intelligence

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    article
      section
        h2 ARTIFICIAL INTELLIGENCE

      section
        h2 Simone Vittori
        h3 Software Engineer

      section
        h2.bullet ARTIFICIAL INTELLIGENCE
        h2.bullet ETHICS

      section
        h1.bullet What is AI?

      section
        h2.bullet Definition of AI
        blockquote.bullet “the <b>science</b> and <b>engineering</b> of making <b>intelligent</b> machines”

      section
        h2.bullet What is Intelligence?

      section
        h2.bullet Definition of Intelligence
        blockquote.bullet “Intelligence is the computational part of the ability to achieve goals in the world.”
        br
        ul
          li not very clear
          li questionable

      section
        h2.bullet ETHICAL QUESTIONS
        ul
          li Should machines have the same rights as humans?
          li Should we allow machines to co-exist with people?
          li Once machines become more clever than us, will they destroy us?

      section(data-bespoke-hash='rules')
        h3.bullet We need to define <b>rules</b>

      section
        h3 Yes, but what actually happens if/when machines become more intelligent than us?

      section
        img(src='images/robot-washing-dishes.jpeg' width='100%')

      section
        h2.bullet SINGULARITY
        h3.bullet “The Singularity is an era in which our intelligence will become increasingly nonbiological and trillions of times more powerful than it is today—the dawning of a new civilization that will enable us to transcend our biological limitations and amplify our creativity.”

      section(data-bespoke-hash='discover-intelligence')
        h3.bullet We need to discover <b>intelligence</b>

      section
        h1 Thank You!

    script(src='build/build.js')
