// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

blockquote {
    font-size: 1.8rem;
}

li {
    font-size: 1.3rem;
    margin-top: 2rem;
}

[data-bespoke-hash='rules'] h3,
[data-bespoke-hash='discover-intelligence'] h3 {
    font-size: 2rem;
}
}
